@import '../styles/variables.scss';

.btn-whatsapp {
    position: fixed;
    bottom: 15dvh;
    right: 10dvh;
    z-index: 5;
}

.btn-whatsapp img {
    max-width: 10dvh;
    transition: transform 0.5s;
}

.btn-whatsapp img:hover {
    transform: scale(1.2);
}

.btn-whatsapp .tooltip-text {
    visibility: hidden;
    position: absolute;
    width: 120px;
    top: 8px;
    left: -144px;
    padding: 6px;
    border-radius: 8px;
    text-align: center;
    background-color: #232224;
    color: #FFF;
    opacity: 0;
    transition: opacity 0.4s;
  }
  
  .btn-whatsapp:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }