footer {
    background-color: $terciary;

    .footer-container {
        color: $white;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 5vh 5vh;
        border-top: 0.4px solid $white;
    }

    .footer-title {
        margin-top: 5vh;
    }

    p {
        font-size: 2rem;
    }

    p.active {
        border-bottom: 3px solid $green;
    }

    i {
        color: $secondary;
        margin-top: 5vh;
        font-size: 1.5rem;
    }

    i:hover {
        color: $green;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    footer {
        display: flex;
        flex-direction: column;
        margin-top: 7dvh;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .footer-container {
        display: flex;
        margin-top: 2dvh;
        border-top: none;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    i {
        margin-top: 5dvh;
        align-items: center;
        text-align: center;
    }
}