@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
#experience-container,
.new-card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 5dvh 5dvh;
  max-width: 1240px;
  margin: 0 auto;
  text-align: center;
}
#experience-container .new-card-title,
.new-card-grid .new-card-title {
  color: #fff;
  font-size: 3rem;
  margin-bottom: 4dvh;
}
#experience-container .new-card-paragraph,
.new-card-grid .new-card-paragraph {
  color: rgb(217, 217, 217);
  font-size: 1.25rem;
}

#projects .projects-title {
  color: #fff;
  font-size: 3.5rem;
  margin: 5dvh 5dvh;
}
#projects #card-grid-projects,
#projects .card-projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 3dvh 2dvh;
  gap: 5px;
  max-width: 1240px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#projects #card-grid-projects .card,
#projects .card-projects-grid .card {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
#projects #card-grid-projects .card .new-container .card-img,
#projects .card-projects-grid .card .new-container .card-img {
  max-width: 100%;
  height: auto;
}
#projects #card-grid-projects .card .project-title,
#projects .card-projects-grid .card .project-title {
  color: #fff;
  font-size: 1.7rem;
  margin-top: 3vh;
  margin-bottom: 3vh;
}
#projects #card-grid-projects .card .card-description,
#projects .card-projects-grid .card .card-description {
  color: rgb(217, 217, 217);
  font-size: 1.3rem;
  margin-bottom: 3vh;
}
#projects #card-grid-projects .card a,
#projects .card-projects-grid .card a {
  margin-left: 1rem;
}
#projects #card-grid-projects .card .card-link,
#projects .card-projects-grid .card .card-link {
  text-decoration: none;
  color: #fff;
}
#projects #card-grid-projects .card .card-link:hover,
#projects .card-projects-grid .card .card-link:hover {
  color: rgb(78, 225, 160);
}
#projects #card-grid-projects .card .card-link.active,
#projects .card-projects-grid .card .card-link.active {
  border-bottom: 3px solid rgb(78, 225, 160);
}

.contact {
  display: flex;
  height: 80dvh;
  background-color: rgba(0, 0, 0, 0);
}
.contact .contact-text {
  flex: 1;
}
.contact .contact-text h3 {
  color: #fff;
  font-size: 4rem;
  margin-top: 10dvh;
  text-align: center;
}
.contact .contact-text .contact-description {
  margin-top: 5dvh;
  color: rgb(217, 217, 217);
  text-align: center;
  margin-bottom: 15dvh;
  font-size: 1.2rem;
}
.contact .contact-text .ring {
  position: relative;
  right: 30dvh;
}
.contact #contact-form {
  flex: 1;
}
.contact #contact-form .name {
  border-bottom: 1px solid white;
  margin-right: 5dvh;
  margin-bottom: 5dvh;
}
.contact #contact-form .name label {
  color: #fff;
  font-size: 1rem;
}
.contact #contact-form .name #name-input {
  width: 60dvh;
  border: none;
  outline: none;
  background-color: #151515;
}
.contact #contact-form .email {
  border-bottom: 1px solid white;
  margin-right: 5dvh;
  margin-bottom: 5dvh;
}
.contact #contact-form .email label {
  color: #fff;
  font-size: 1rem;
}
.contact #contact-form .email #email-input {
  width: 60dvh;
  box-shadow: 0 0 0;
  border: none;
  outline: none;
  background-color: #151515;
}
.contact #contact-form .msg {
  border-bottom: 1px solid white;
  margin-right: 5dvh;
  margin-bottom: 5dvh;
}
.contact #contact-form .msg label {
  color: #fff;
  font-size: 1rem;
}
.contact #contact-form .msg #msg-input {
  width: 60dvh;
  border: none;
  outline: none;
  box-shadow: 0 0 0;
  background-color: #151515;
}
.contact #contact-form .btn-message {
  border: none;
  background-color: #151515;
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
  display: block;
  /* Garante que o botão ocupe uma linha completa */
  width: 90%;
  /* Define uma largura apropriada */
  max-width: 320px;
  /* Limite a largura em telas pequenas */
  margin: 10px auto;
  /* Centraliza o botão e adiciona margem */
  padding: 10px 20px;
  /* Ajuste para garantir que o texto esteja visível */
}
.contact .btn-message:hover {
  color: rgb(78, 225, 160);
}

@media screen and (max-width: 768px) {
  #experience-container,
  .new-card-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
    text-align: center;
    max-width: 100%;
    margin: 2dvh !important;
  }
}
@media screen and (max-width: 768px) {
  #card-grid-projects,
  .card-projects-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
    max-width: 100%;
    margin: 2dvh !important;
  }
  .new-card-title {
    text-align: center;
  }
  .new-card-paragraph {
    text-align: center;
  }
}
@media screen and (max-width: 1024px) {
  #card-grid-projects,
  .card-projects-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
@keyframes scaleUp {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}
footer {
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: 2dvh;
  padding-bottom: 2dvh;
}
footer .footer-container {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 5vh 5vh;
  border-top: 0.4px solid #fff;
}
footer .footer-title {
  margin-top: 5vh;
}
footer p {
  font-size: 2rem;
}
footer p.active {
  border-bottom: 3px solid rgb(78, 225, 160);
}
footer a {
  color: #e5e7eb;
  margin-top: 5vh;
  font-size: 1.5rem;
}
footer a:hover i {
  color: rgb(78, 225, 160);
  animation: scaleUp 0.8s ease-in infinite;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  footer {
    display: flex;
    flex-direction: column;
    margin-top: 7dvh;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .footer-container {
    display: flex;
    margin-top: 2dvh;
    border-top: none;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  i {
    margin-top: 5dvh;
    align-items: center;
    text-align: center;
  }
}
@keyframes scaleUp {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}
.header-container {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 5dvh;
  max-width: 1440px;
  margin: 0 auto;
}
.header-container p {
  font-size: 2rem;
}
.header-container p.active {
  border-bottom: 3px solid rgb(78, 225, 160);
}
.header-container .header-icons {
  display: flex;
  justify-content: space-between;
  gap: 3dvh;
}
.header-container .header-icons a {
  color: #e5e7eb;
  font-size: 1.5rem;
}
.header-container .header-icons a:hover i {
  color: rgb(78, 225, 160);
  animation: scaleUp 0.8s ease-in infinite;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5dvh;
  margin-left: 5dvh;
  margin-right: 5dvh;
  padding-bottom: 15dvh;
  border-bottom: 0.4px solid #fff;
}
.container .container-text {
  flex: 1;
}
.container .container-text .title {
  color: #fff;
  font-size: 3.5rem;
  margin-bottom: 5dvh;
}
.container .container-text .container-paragraph {
  color: rgb(217, 217, 217);
  font-size: 1.3rem;
  margin-bottom: 5dvh;
}
.container .container-text a {
  background-color: #151515;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  text-decoration: none;
}
.container .container-text a.active {
  border-bottom: 3px solid rgb(78, 225, 160);
}
.container .container-text a:hover {
  color: rgb(78, 225, 160);
}
.container .container-text i {
  display: none;
}

.image-container {
  flex: 1;
  margin-right: 5dvh;
  margin-top: 5dvh;
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .header-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
  }
  p {
    text-align: center;
  }
  .header-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2dvh;
    margin: 2dvh;
  }
}
@media screen and (max-width: 768px) {
  .container {
    display: flex;
    text-align: center;
    max-width: 100%;
  }
}
.btn-whatsapp {
  position: fixed;
  bottom: 15dvh;
  right: 10dvh;
  z-index: 5;
}

.btn-whatsapp img {
  max-width: 10dvh;
  transition: transform 0.5s;
}

.btn-whatsapp img:hover {
  transform: scale(1.2);
}

.btn-whatsapp .tooltip-text {
  visibility: hidden;
  position: absolute;
  width: 120px;
  top: 8px;
  left: -144px;
  padding: 6px;
  border-radius: 8px;
  text-align: center;
  background-color: #232224;
  color: #FFF;
  opacity: 0;
  transition: opacity 0.4s;
}

.btn-whatsapp:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

header {
  width: 100%;
}

body {
  background-color: #151515;
  font-family: "Space Grotesk", sans-serif, serif;
  width: 100%;
  height: 100dvh;
  position: relative;
}

button {
  cursor: pointer;
}

svg {
  width: 100%;
}

img {
  width: 100%;
}

a {
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */