@import '../styles/main.scss';
@import '../styles/footer.scss';
@import '../styles/variables.scss';
@import '../styles/header.scss';
@import '../styles/btn-whats.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

header {
    width: 100%;
}

body {
    background-color: $primary;
    font-family: 'Space Grotesk', sans-serif, serif;
    width: 100%;
    height: 100dvh;
    position: relative;
}

button {
    cursor: pointer;
}

svg {
    width: 100%;
}

img {
    width: 100%;
}

a {
    cursor: pointer;
}